<div class="login-page">

  <div class="login-card">

    <div class="login-box">

      <div class="title">
        *Logo*
      </div>

      <form class="form-body" [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">

        <div class="upper-login">
          <div class="inp">
            <input type="text" name="username" formControlName="username" placeholder="Email" id="username" autofocus required>
          </div>
          <div class ="inp">
            <input type="password" name="password" formControlName="password" placeholder="Password" id="password" [type]="hide ? 'password' : 'text'" required>
            <button type="button" mat-icon-button matSuffix (click)="hide = !hide" id="eye_button" >
              <mat-icon id="eye_icon">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
            </button>
          </div>
        </div>

        <div class="lower-login">

          <div class="login-error" *ngIf="loginError">Invalid username or password.</div>
          <!-- <div class="login-error" *ngIf="(username.invalid && (username.dirty || username.touched))
                                           && password.invalid && (password.dirty || password.touched); else elseBlock">
                                          Username and password are required.</div>

          <ng-template #elseBlock>
            <div class="login-error" *ngIf="username.invalid && (username.dirty || username.touched)">Username is required.</div>
            <div class="login-error" *ngIf="password.invalid && (password.dirty || password.touched)">Password is required.</div>
          </ng-template> -->

          <!-- <button id="Connect" *ngIf="!isClicked" mat-raised-button color="darkGreen" type="submit" [disabled]="!loginForm.valid">Connect</button> -->

          <button id="Connect" *ngIf="!isClicked" mat-raised-button color="darkGreen" type="submit" >Login!</button>
          <mat-spinner [diameter]="50" *ngIf="isClicked"></mat-spinner>

        </div>
      </form>


      <div class="forpass">
        <a href="#"> Forgot Password ?</a>
      </div>

      <div class="new-us">
        <a href="#">Not a member yet? Sign Up!</a>
      </div>
    </div>

    

    <div class="footer">
      <div class="bottom-nav">
        <a href="#">Home</a>
        <div class="spacer">|</div>
        <a href="#">Contact</a>
        <div class="spacer">|</div>
        <a href="#">Info</a>
      </div>

      <div class="emdr">
        @2020EMDRremote
      </div>

    </div>
  </div>

</div>
